.rodape-principal {
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
    margin-left: 240px;
    text-align: center;
}

.conteudo-rodape p {
    color: #606060;
    font-size: 14px;
}

@media (min-width: 1025px) {
    .rodape-principal {
        margin-left: 0;
        grid-column: 1 / -1;
    }
}

@media (max-width: 768px) {
    .rodape-principal {
        margin-left: 0;
    }
}